@keyframes entrada{
	from{
		opacity: 0;
		transform: translateY(50px);
	}

	to{
		opacity: 1;
		transform: none;
	}
}

@keyframes saida{
	from{
		opacity: 0;
		transform: translateY(-50px);
	}

	to{
		opacity: 1;
		transform: none;
	}
}

.entrada{
	animation: entrada 1s ease-in-out forwards;
}

.saida{
	animation: saida 1s ease-in-out forwards;
}