.menu{
    display: flex;
	margin: 3rem;
}

.menu__lista{
	display: flex;
	align-items: center;	
}

.menu__item{
	margin-right: 3.6875rem;
	transition: transform 1s;		
}

.menu__usuario{
	position: absolute;
	left: 78%;
	transition: transform 1s;
	
}

.menu__usuario:hover{
	transform: scale(1.2);
}

.logo__tablet{
	display: none;
	transition: transform 1s;
}
.menu__usuario--imagem{	
	height: 48px;
	width: 48px;
}

.menu__item:hover{
	transform: scale(1.5);
}

.logo__tablet:hover{
	transform: scale(1.2);
	

}

@media screen and (min-width: 768px) {

.logo__tablet{
	display: flex;
	margin-right: 65px; 
}

.menu__usuario{	
	left: 85%;	
}	
}

@media screen and (min-width: 1440px) {

.logo__tablet{		
	margin:0 3.50rem 0 6rem; 
}
	
.menu__item{
	margin-right: 2rem;	
}

.menu__usuario--imagem{	
	height: 64px;
	width: 64px;
}
}

