.menu{
    display: flex;
	margin: 3rem;
}

.menu__lista{
	display: flex;
	align-items: center;	
}

.menu__item{
	margin-right: 3.6875rem;‬	
}

.menu__usuario{
	position: absolute;
	left: 78%;	
}

.logo__tablet{
		display: none;
	}

@media screen and (min-width: 768px) {

	.logo__tablet{
		display: flex;
		margin-right: 65px; 
	}

	.menu__usuario{	
	left: 85%;	
}
	
}