body{
    background-image: 
    url(../img/Patas.svg),
    url('../img/Forma-1.svg'),     
    url(../img/Forma-2-reverse.svg);    
    background-repeat: no-repeat;
    background-position: right top, left top, left center;
    background-color: var(--branco);
}

.principal{
 	text-align: center;
}

.principal__logo{
	margin-top: 2.50rem;
}

.container__texto{
	margin: 1.56rem 0 1.50rem;
}

.principal__descricao{
	color: var(--azul);
	font-family: var(--fonte-secundaria);
	font-size: 1rem;
	font-weight: 400;
	line-height: 21px;
	width: 19.50rem;
	margin: 0.50rem auto;
}

.formulario{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: var(--fonte-secundaria);
	font-weight: 400;
	color: var(--cinza);
}

.input__padrao{	
	text-align: center;
	background-color: var(--cinza-claro);
	border: none;
	width: calc(100% - 4rem);
	padding: 1rem;
	border-radius: 6px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	margin-bottom: 1.9375rem;
}

label{
	margin: 0.25rem;
}

.input__padrao::placeholder{
	color: var(--cinza-input);
	text-align: center;
	font-family: var(--fonte-secundaria);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}

#senha::placeholder{
	background: url(../img/Senha.svg) no-repeat right;	
}

.enviar{
	background-color: var(--coral);
	font-family: var(--fonte-secundaria);
	color: var(--branco);
	font-weight: 600;
	font-size: 1rem;
	padding: 0.51rem 0;
	border-radius: 6px;
	width: 9rem;
	margin: 0.51rem 0;
}

.enviar{
	background-color: var(--coral);
	font-family: var(--fonte-secundaria);
	color: var(--branco);
	font-weight: 600;
	font-size: 1rem;
	border-radius: 6px;
	width: 9.25rem;
	height: 2.50rem;
	border: none;
	margin: 0.51rem 0 20rem;
}

@media screen and (min-width: 768px) {

body{
  	background-image:
   	url(../img/Patas-tablet.svg),
   	url('../img/Forma-tablet-1.svg'), 
   	url(../img/Forma-tablet-2.svg);
   	background-position: right top, left top, right center;
}

.principal__logo{
	margin-top: 8rem;
	height: 62px;
	width: 252px;

}

.principal__descricao{
	font-size: 1rem;
	font-weight: 400;
	width: 30rem;
}

.formulario{
	margin: 0 auto;
	width: 21.50rem;
}
}