body{
    background-image: 
    url('../img/Forma-1.svg');       
    background-repeat: no-repeat;
    background-position: left top;
    background-color: var(--branco);
}

.principal{
	text-align: center; 	
}

.principal__descricao{
	color: var(--azul);
	font-family: var(--fonte-secundaria);
	font-size: 1rem;
	font-weight: 400;
	margin: 5rem 4.18rem 2.62rem;
}

.bichos{
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.card{
	display: flex;
	background-color: var(--cinza-claro);	
	width: 22.50rem;
	margin-top: 1rem;	
}

.card__titulo{
	font-family: var(--fonte-secundaria);
	color: var(--azul);
	font-weight: 600;	
}

.card__descricao{
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;	
	font-size: 14px;
	line-height: 20px;
	margin: 1rem 0 2rem;
}

.card__conteudo{
	margin: 1rem 0;	
}

.card__regiao{
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;	
}

.card__responsavel {
	display: flex;
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
	margin-top: 7px;
}

.card__img--msg{
	margin-right: 8px;
}

.imgem__bicho{
	margin: 1rem;
	width: 148px;
	height: 148px;
}