body{
    background-color: var(--branco);
}
.menu__usuario{
	position: absolute;
	left: 14.5rem;
	
}

.principal{
 	text-align: center;
 	position: absolute;
 	align-items: center;
 	margin: 0 auto;
 	top: 9rem;
 	
}

.principal__descricao{
	text-align: center;
	color: var(--azul);
	font-family: var(--fonte-secundaria);
	font-size: 1rem;
	font-weight: 400;
	margin: 0 3rem;
	margin-top: 0;
	padding: 0.50rem;
	width: 15rem;
}


.bichos{
	position: absolute;
	top: 13rem;
	z-index: -2;
}

.card{
	background-color: var(--cinza-claro);
	margin: 1rem 0;
	display: flex;
	width: 360px;
	align-items: center;
}

.card__titulo{
	font-family: var(--fonte-secundaria);
	color: var(--azul);
	font-weight: 600;
	margin-bottom: 1rem;
}

.card__descricao{
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;
	margin-bottom: 1rem;
	font-size: 14px;
	line-height: 20px;
}
.card__conteudo{
	margin: 1rem;
}

.card__regiao{
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 0.50rem;
}

.card__responsavel {
	font-family: var(--fonte-secundaria);
	color: var(--cinza);
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
}

.card__responsavel--container{
	display: flex;
	justify-content: center;
}

.imgem__bicho{
	margin: 1rem;
	width: 148px;
	height: 148px;

}

.home__forma{
	position: absolute;
	top: 22rem;
	z-index: -2;
	margin-bottom: 10rem;
}
.rodape{
	background-color: var(--verde);
	text-align: center;
 	position: absolute;
	top: 50rem;
	width: 100%;


}
.rodape__texto{
	margin: 2rem 0;
	font-family: var(--fonte-secundaria);
	color: var(--branco);
	font-weight: 400;
}