body{
    background-image: 
    url(../img/Forma-1.svg), 
    url(../img/Forma-2.svg);
    background-repeat: no-repeat;
    background-position: left top, right center;
    font-family: var(--fonte-primaria);
    background-color: var(--azul);
}	
	
.principal{
 	text-align: center;
}

.principal__logo{
	margin-top: 2.50rem;
	animation: 2s;
}

.principal__titulo{
	color: var(--branco);
	font-family: var(--fonte-secundaria);
	font-size: 1.62rem;
	font-weight: 500;
	margin: 1rem 0;
	padding: 1rem 0;
	opacity: 0;
}

.principal__descricao{	
	color: var(--branco);
	font-size: 1rem;
	font-weight: 400;
	margin: 1rem 3rem;
	line-height: 1.50rem;
	opacity: 0;	

}

.principal__descricao--tablet{
	display: none;
	opacity: 0;
}

.principal__botoes{
	display: flex;
	flex-direction: column;
	align-items: center;
	opacity: 0;
}

.botao{
	background-color: var(--coral);
	color: var(--branco);
	font-weight: 600;
	padding: 1rem 0;
	border-radius: 6px;
	width: 11rem;
	margin: .50rem 0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	
}

.botao:hover{
	transform: scale(1.1);
	background-color: rgba(0, 0, 0, 0.3);
}

.principal__ilustracao{
	position: relative;
	top: 5rem;
	z-index: -1;
}

@media screen and (min-width: 768px) {

body{
  	background-image: 
  	url(../img/Forma-tablet-1.svg), 
   	url(../img/Forma-tablet-2.svg);
}

.principal__logo{
	margin-top: 6rem;
	height: 62px;
	width: 252px;

}

.principal__descricao--tablet{
	display: inline-block;
	color: var(--branco);
	font-size: 1.12rem;
	font-weight: 400;
	margin: 1rem 12rem;
	line-height: 26px;
}

.principal__descricao{
	display: none;
}

.botao{
	width: 344px;
	font-size: 18px;
}

.principal__ilustracao{
	top: 5rem;
	width: 520px;
	height: 520px;
}
}

@media screen and (min-width: 1440px) {

body{
  	background-image: 
  	url(../img/Forma-tablet-1.svg), 
   	url(../img/Forma-tablet-2.svg);
}

.principal__logo{
	margin-top: 10px;
	width: 260px;
	height: 64px;

}

.principal__descricao--tablet{	
	margin: 2.37rem 30rem;

}

.principal__descricao{
	display: none;
}

.botao{
	width: 344px;
	font-size: 18px;
}

.principal__ilustracao{
	width: 600px;
	height: 600px;
	top: 5.30rem;
}
}