body{
    background-color: var(--azul);
}

.principal{
 	text-align: center;
 	position: absolute;
 	top: 10rem;
}

.principal__titulo{
	color: var(--branco);
	font-family: var(--fonte-primaria);
	font-size: 27px;
	font-weight: 500;
	margin: 1rem 0;

}

.principal__descricao{
	color: var(--branco);
	font-family: var(--fonte-secundaria);
	font-size: 1rem;
	font-weight: 400;
	margin: 1rem 3rem;

}

.principal__botoes{

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.botao{
	background-color: var(--coral);
	font-family: var(--fonte-secundaria);
	color: var(--branco);
	font-weight: 600;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 6px;
	width: 12rem;
	margin: .51rem 0;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.home__forma{
	position: absolute;
	left: 18.08rem;
	top: 12rem;
}

.principal__ilustracao{
	margin: 1rem 0;
}

.rodape{
	background-color: var(--verde);
	text-align: center;
 	position: absolute;
	top: 48rem;
	width: 100%;


}
.rodape__texto{
	margin: 2rem 0;
	font-family: var(--fonte-secundaria);
	color: var(--branco);
	font-weight: 400;


}