.rodape{
	font-family: var(--fonte-primaria);
	background-color: var(--verde);
	text-align: center;
	width: 100%;
	margin-top: 3rem;
}

.rodape__texto{
	color: var(--branco);
	font-weight: 400;
	padding: 2.50rem;
}

.rodape__link:hover{
	color: var(--coral);
}