:root{
    --azul: #3772FF;
    --branco: #ffffff;
    --coral: #FC7071;
    --verde: #36D6AD;
    --cinza-claro: #F7F7F7;
    --cinza: #737380;
    --fonte-primaria: 'IBM Plex Sans', sans-serif;
    --fonte-secundaria: 'Poppins', sans-serif;

}
